@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.jumbotron {background:rgba(0,0,0,0.45)!important}

.jumbotron,.jumbg{
  position: relative;
    overflow: hidden;
    height: 450px;
 
  /* Tried setting the height. Didnt work either */
  /* height: 200px; */
}

.jumbotron .container {
margin-top:-20px;
  position: relative;
  color: #ffffff;
  z-index: 2;
}

#video-background{ 
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}
@media screen and (min-width: 480px) {.jumbotron .container {margin-top:20px;}}

.btn-group button {color:#E53935!important;}
.btn-group, .btn-group-vertical {background:transparent;}

body {background-color:black;}

.jumbotron .container .btn-group .btn.active {background-color:rgba(16,16,16,0.70);color:#e53935;}

.mdi-fix {margin-bottom:4px!important;margin-right:5px!important;}

.code-changelog, .card-block ul li {font-family: 'Roboto Mono', monospace;}
.card-block ul {list-style-type:none}

.code-changelog, .card-block ul li a {color:#dfdfdf}
.code-changelog, .card-block ul li a:hover {color:#fff}

